
<h2>HOME</h2>

<div class="items">
	
	<form novalidate class="simple-form">
		<h2>New Item</h2>
	  <label>newItem.a<input type="text" ng-model="newItem.a" /></label><br>
	  <label>newItem.b<input type="text" ng-model="newItem.b" /></label><br>
	  <label>newItem.c<input type="text" ng-model="newItem.c" /></label><br>
	  <button ng-click="insertItem(newItem)">Save</button>
	</form>

	<ul>
		<li ng-repeat="item in completeData">	
			<b>item.id:</b> <i>{{ item.id }}</i><br>
			<b>item.a:</b> <i>{{ item.a }}</i><br>
			<b>item.b:</b> <i>{{ item.b }}</i><br>
			<b>item.c:</b> <i>{{ item.c }}</i><br>
			<div class="buttons">
				<button ng-click="deleteItem(item)">Delete</button>
			</div>
		</li>
	</ul>

</div>